<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="https://kit.fontawesome.com/c4acbb682e.js" crossorigin="anonymous"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>

        #navbar {
            display: flex;
            background-color: #111;
            color: white;
            padding: 13px;
        }

        #navFirstDiv {
            flex: 20%;
            text-align: center;
        }

        #navSecondDiv {
            flex: 80%;
            text-align: right;
            display: inline-block;
        }

        .form-control {
            display: inline-block;
        }

        .input-group {
        }
    </style>

</head>
<body>


    <div id="navbar">
        <div id="navFirstDiv">
            <h3> @Html.ActionLink("Quizz Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h3>
        </div>
        <div id="navSecondDiv">
            <form class="form-inline" style="display:inline-flex">
                @*<span class="searchbtn">
            <input class="form-control rounded-3 " type="search" placeholder="Search" aria-label="Search">

            <span>
                <button class="btn btn-secondary btn-sm " type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </span>*@

                <div class="input-group input-group-sm searchbtn">
                    <input type="text" class="form-control rounded-1" placeholder="Search Assignment">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <button class="btn notifybtn position-relative">
                    <i class="fa-regular fa-bell" style="color: #ffffff;"></i>
                    <div class="rounded-circle text-bg-warning align-items-center notifyspinner position-absolute" role="status" style="width:17px; height:17px; right:0; top:0;">

                    </div>
                </button>
                <a class="btn btn-secondary profilebtn" href="/User/Index/"><i class="fa-solid fa-user"></i></a>
                <button class="btn btn-danger logoutbtn">Logout</button>
                <a class="btn btn-info loginbtn" href="SignIn/Index">Login</a>
            </form>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

