@model IEnumerable<Quizz_Survay_Application.Models.QuestionModel>

@{
    ViewBag.Title = "GetAssignmentQuestions";
    Layout = null;
    int cnt = 1;
}




<script>
    $(document).ready(function () {

        $(".answer").hide();

        $("#btngetassignmentquestions").click(function () {
            var questions = @Html.Raw(Json.Encode(Model));
            var temp, st, score = 0;

            $(".question").removeClass("mb-4");
            $(".question").addClass("mb-2");

            $.each(questions, function (index, item) {
                st = 'input[name="' + item.Q_Id + '"]:checked';
                temp = $(st).val();

                $(".answer").show();

                if (temp == "value") {
                    score++;

                    var res = $(st).parent().attr("id");
                    var correct_ans = $("#" + res + " span").html();

                    $(".answer ." + item.Q_Id).html("Answer: <span class='text-success'>" + correct_ans + "</span>");
                }
                else {
                    var correct_ans_ = $("#" + item.Ans_Op_Id + " span").html();

                    $(".answer ." + item.Q_Id).html("Answer: <span class='text-danger'>" + correct_ans_ + "</span>");
                }
            });

            alert(score);
        });
    });
</script>





<style>
    .containerGetAssignmentQuestions{
        margin-bottom: 10%;
    }

    .containerbtn {
        margin: auto;
        width: 50%;
    }

</style>



<div class="containerGetAssignmentQuestions">
    @foreach (var item in Model)
    {
        <div class="card mb-4 border-dark question" style="width:45rem">
            <div class="card-header text-dark">
                Q.@cnt
            </div>
            <div class="card-body">
                <h5 class="card-title text-dark mb-5">@item.Q_Text</h5>

                <table class="table table-borderless">
                    @for (var i = 0; i < item.Options.Count;)
                    {
                        <tr>
                            <td><label class="card-text text-dark" id=@item.Options[i].O_id> <input type="radio" name=@item.Q_Id value=@item.Options[i].Marks><span> @item.Options[i++].Options</span></label></td>
                            <td><label class="card-text text-dark" id=@item.Options[i].O_id> <input type="radio" name=@item.Q_Id value=@item.Options[i].Marks><span> @item.Options[i++].Options</span></label></td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="card mb-5 border-dark answer text-dark p-2" style="width:45rem">
            <label class="text-dark @item.Q_Id"></label>
        </div>

        cnt = cnt + 1;
    }


    <div class="containerbtn"><input id="btngetassignmentquestions" class="btn btn-primary btn-outline-info rounded-pill fw-bold text-white" value="Submit"></div>
</div>




