@model IEnumerable<Quizz_Survay_Application.Models.QuestionModel>

@{
    Layout = null;
    int cnt = 1;
}


<script>
    $(document).ready(function () {
        var data = @Html.Raw(Json.Encode(Model));

        $.each(data, function (index, item) {
            $("#" + item.Ans_Op_Id + " input[name='" + item.Q_Id + "']").prop("checked", true);
        });

        $("#btngetassignmentquestionsadmin").click(function () {

            $.each(data, function (index, item) {
                var q_id = item.Q_Id;
                var st = $('input[name="' + q_id + '"]:checked').parent().attr('id');

                item.Q_Text = $("#" + q_id + "q").html();
                item.Ans_Op_Id = st;

                $.each(item.Options, function (ind, itm) {
                    itm.Options = $("#" + itm.O_id + " span").html();

                    if (itm.O_id == st) {
                        itm.Marks = true;
                    }
                    else {
                        itm.Marks = false;
                    }
                });
            });

            $.ajax({
                url: "/admin/UpdateAndSubmitAssignmentAdmin",
                type: "POST",
                data: { res: data},
                success: function (success) {
                    alert("Quizz Approved Successfully...");
                    location.reload(true);
                },
                error: function (error) {
                    alert("Something happened, plz try again");
                }
            });
        });
    });
</script>






<style>
    .containerGetAssignmentQuestions {
        margin-bottom: 10%;
    }

    .containerbtn {
        margin: auto;
        width: 50%;
    }
</style>



<div class="containerGetAssignmentQuestions">
    @foreach (var item in Model)
    {
        <div class="card border-secondary mb-4 question mt-5" style="width:52rem">
            <div class="d-flex justify-content-between align-items-center card-header bg-secondary text-white">
                Q.@cnt
            </div>
            <div class="card-body">
                @{
                    var id_q = item.Q_Id + "q";
                }
                @*<h5 class="card-title text-dark mb-5" id=@id_q contentEditable="true">@item.Q_Text</h5>*@
                <div style="display: flex; justify-content: space-between; ">
                    <input value="@item.Q_Text" class="card-title text-dark mb-5" id=@id_q />
                    <img src="~/AppFiles/Images/edit-solid.svg" style="width:20px;height:20px" />
                </div>

                @{var n = item.Options.Count;
                }

                <table class="table table-borderless">
                    @for (var i = 0; i < n;)
                    {


                        <tr>
                            @if (i < n)
                            {
                                <td>
                                    <label class="card-text text-dark" id=@item.Options[i].O_id>
                                        <input type="radio" name=@item.Q_Id value=@item.Options[i].Marks>
                                        <span contenteditable="true"> @item.Options[i++].Options</span>
                                    </label>
                                </td>
                            }

                            @if (i < n)
                            {
                                <td>
                                    <label class="card-text text-dark" id=@item.Options[i].O_id>
                                        <input type="radio" name=@item.Q_Id value=@item.Options[i].Marks>
                                        <span contenteditable="true"> @item.Options[i++].Options</span>
                                    </label>
                                </td>
                            }

                        </tr>
                    }
                </table>
            </div>
        </div>

        cnt = cnt + 1;
    }



    <div class="containerbtn">
    <input id="btngetassignmentquestionsadmin" class="btn btn-primary btn-outline-info rounded-pill fw-bold text-white" value="Approve">
    </div>
</div>



