@model IEnumerable<Quizz_Survay_Application.Models.RegisterModel>

@{
    ViewBag.Title = "GetAllUser";
    Layout = null;
    int cnt = 1;
}


<script>
    $(document).ready(function () {

        $.ajax({
            url: "/admin/CountNotification",
            type: "Get",
            success: function (data) {
                $(".notifyspinner").html(data);
            },
            error: function (error) {
                alert("error");
            }
        });

        $(".changerole").on('click', function () {
            changerolefunction(this);
        });

        $(".enabledisable").on('click', function () {
            enabledisablefunction(this);
        });

        $(".notifybtn").click(function () {
            return ShowNotifications();
        });

        function enabledisablefunction(curr) {
            var currently = $(curr).text().trim();
            var clickeduser2 = $(curr).closest("tr").find("td").eq(1).text().trim();

            if (currently === 'Disable') {
                $.ajax({
                    url: "/admin/DisableUser",
                    type: "POST",
                    data: { DisableUser_: clickeduser2 },
                    success: function (data) {
                        alert("done...");

                        $(curr).html("Enable");
                        $(curr).removeClass('btn-warning btn-outline-success');
                        $(curr).addClass('btn-success btn-outline-warning');
                    },
                    error: function (error) {
                        alert("error");
                    }
                }); 
            }
            else {
                $.ajax({
                    url: "/admin/EnableUser",
                    type: "POST",
                    data: { DisableUser_: clickeduser2 },
                    success: function (data) {
                        alert("done...");

                        $(curr).html("Disable");
                        $(curr).removeClass('btn-success btn-outline-warning');
                        $(curr).addClass('btn-warning btn-outline-success');    
                    },
                    error: function (error) {
                        alert("error");
                    }
                });
            }
        }


        function ShowNotifications() {
            $.ajax({
                url: "/admin/Notifyadmin",
                type: "GET",
                success: function (data) {
                    $(".bodycontainer").html(data);
                },
                error: function (error) {
                    alert("error");
                }
            });

            return false;
        }

        function changerolefunction(curr) {
            var curr_role = $(curr).closest('tr').find('td span');
            var clickeduser = $(curr).closest("tr").find("td").eq(1).text().trim();

            var st;

            if (curr_role.html() === 'Admin') {
                st = "Admin to User";
            }
            else {
                st = "User to Admin";
            }

            var confirmation = confirm("Are you sure you want to make this" + st);

            if (!confirmation) {
                return false;
            }

            if (curr_role.html() === 'Admin') {
                $.ajax({
                    url: "/admin/MakeUser",
                    type: "POST",
                    data: { AdminToMakeUser: clickeduser },
                    success: function (data) {
                        alert("done...");

                        curr_role.html('User');
                        $(curr).html("Make Admin");
                        $(curr).removeClass('btn-success btn-outline-warning');
                        $(curr).addClass('btn-warning btn-outline-success');
                        curr_role.removeClass('bg-success text-success');
                        curr_role.addClass('bg-warning text-warning');
                    },
                    error: function (error) {
                        alert("error");
                    }
                });  
            }
            else {
                $.ajax({
                    url: "/admin/MakeAdmin",
                    type: "POST",
                    data: { UserToMakeAdmin: clickeduser },
                    success: function (data) {
                        alert("done...");

                        curr_role.html('Admin');
                        $(curr).html("Make User");
                        $(curr).removeClass('btn-warning btn-outline-success');
                        $(curr).addClass('btn-success btn-outline-warning');
                        curr_role.removeClass('bg-warning text-warning');
                        curr_role.addClass('bg-success text-success')
                    },
                    error: function (error) {
                        alert("error");
                    }
                });    
            }
        }
    });
</script>


<div id="bodyadmin">

    <div class="bodycontainer">

        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>


            <table class="table table-hover align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>#</th>
                        <th>UserName</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>LastLog</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <p class="fw-normal mb-1">@cnt</p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    @item.UserName
                                </div>
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @if (item.Role == true)
                                {
                                    <span class="badge rounded-pill bg-success bg-opacity-25 text-success">Admin</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill bg-warning bg-opacity-25 text-warning">User</span>
                                }

                            </td>
                            <td>
                                @item.LastLog
                            </td>
                            <td>
                                @if (item.Role == true)
                                {
                                    <button type="button" class="btn changerole btn-success btn-outline-warning btn-sm rounded-pill fw-bold text-white" data-mdb-ripple-color="dark" style="width:105px;">Make User</button>
                                }
                                else
                                {
                                    <button type="button" class="btn changerole btn-warning btn-outline-success btn-sm rounded-pill fw-bold text-white" data-mdb-ripple-color="dark" style="width:105px;">Make Admin</button>
                                }
                            </td>
                            <td>
                                @if (item.disabled == true)
                                {
                                    <button type="button" class="btn enabledisable btn-success btn-outline-warning btn-sm rounded-pill fw-bold text-white" data-mdb-ripple-color="dark" style="width:105px;">Enable</button>
                                }
                                else
                                {
                                    <button type="button" class="btn enabledisable btn-warning btn-outline-success btn-sm rounded-pill fw-bold text-white" data-mdb-ripple-color="dark" style="width:105px;">Disable</button>
                                }
                            </td>
                        </tr>

                        cnt = cnt + 1;
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>
