@model Quizz_Survay_Application.Models.RegisterModel

@{
    ViewBag.Title = "RegisterUser";
    Layout = null;
}


<script src="~/Scripts/jquery-3.4.1.js"></script>



<script>

    $(document).ready(function () {
        $("#otpcontainerregister").hide();
        let SentOTP = "";
        var isBlocked = false;

        $("#btnregister").click(function () {
            if (isBlocked) {
                $("#blockedUserR").show();
                $("#loading").hide();
                return false;
            }

            return verifyEmailregister();
        });

        $("#btnotpregister").click(function () {
            return verifyOTPregister();

        });

        function verifyOTPregister() {
            var EnteredOTP_ = $("#enteredotpregister").val();

            $.ajax({
                url: "/SignIn/Validate",
                type: "GET",
                data: { EnteredOTP: EnteredOTP_, Email: $("#UserName").val().toLowerCase() },
                success: function (data) {
                    if (data == 1) {
                        $("#RegisterForm").submit();
                    }
                    else if (data == 2) {
                        //alert("not matched");

                        $("#notMatchedR").show();
                        $("#loading").hide();
                        setTimeout(function () { $("#notMatchedR").fadeOut(); }, 2000);

                    }
                    else if (data == 3) {
                        /*alert("Expired");*/
                        $("#otpExpiredR").show();
                        $("#loading").hide();
                        setTimeout(function () { $("#otpExpiredR").fadeOut(); }, 2000);
                    }
                    else {
                        //alert("Blocked");
                        $("#blockedUserR").show();
                        $("#loading").hide();
                        isBlocked = true;
                    }
                },
                error: function (data) {
                    //alert("something happened, Plz try again...");
                    $("#errorMsg").show();
                    $("#loading").hide();
                    setTimeout(function () { $("#errorMsg").fadeOut(); }, 2000);
                }
            });

            return false;
        };

        function verifyEmailregister() {

            $.ajax({
                url: "/SignIn/ValidateEmail",
                type: "POST",
                data: { email: $("#UserName").val() },
                success: function (data) {
                    if (data == 2) {
                        $("#otpcontainerregister").show();
                        /*  $("#btnregister").attr("disabled", true);*/
                        $("#btnregister").hide();
                        $("#loading").hide();
                    }
                    else if (data == 0) {
                        $("#blockedUserR").show();
                        $("#loading").hide();
                        isBlocked = true;
                    }
                    else {
                        /*alert("User already exists");*/
                        $("#alertMsg").show();
                        $("#loading").hide();
                        setTimeout(function () { $("#alertMsg").fadeOut(); }, 2000);

                    }

                },
                error: function (error) {
                    /*alert("Something Wrong Happened...");*/
                    $("#errorMsg").show();
                    $("#loading").hide();
                    setTimeout(function () { $("#errorMsg").fadeOut(); }, 2000);

                }
            });

            return false;
        };
    });

</script>





@*<h2>RegisterUser</h2>*@


@using (Html.BeginForm("RegisterUser", "SignIn", FormMethod.Post, new { id = "RegisterForm" }))
{

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group m-2">
            <p>Please register your Account</p>
            <div class="col-md-12">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your First Name" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group m-2">
            <div class="col-md-12">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your Last Name" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group m-2">
            <div class="col-md-12">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your Email" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="otpcontainerregister">
            <div class="m-2">
                <div class="col-md-12">
                    <input class="form-control" id="enteredotpregister" placeholder="Enter OTP" />
                    <div class="d-grid gap-1 col-11 ml-2 mt-2 p-2">
                        <button class="btn btn-success btn-sm" type="button" id="btnotpregister">Register</button>

                    </div>
                </div>
            </div>

        </div>


        <div class="form-group">

            <div class="d-grid gap-1 col-11 ml-2 mt-2 p-2">
                <button class="btn btn-success btn-sm" type="button" id="btnregister">Register</button>

            </div>

        </div>
        <div class="alert alert-danger" id="errorMsg" role="alert">
            Something went wrong, Please try again
        </div>
        <div class="alert alert-danger" id="alertMsg" role="alert">
            User Already Exists.
        </div>

        <div class="alert alert-danger" id="blockedUserR" role="alert">
            Your Account has been Blocked!
        </div>
        <div class="alert alert-danger" id="otpExpiredR" role="alert">
            OTP Expired!
        </div>
        <div class="alert alert-danger" id="notMatchedR" role="alert">
            Wrong OTP
        </div>



    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
